#footer   img {
    max-width: 100%;
    height: auto;
}
       #footer {
            padding: 60px 0;
           /* min-height: 100vh;*/
        }
 #footer ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
#footer .contact-area {
    border-bottom: 1px solid #353C46;
}

#footer .contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

#footer .contact-content p::after {
    background: #B99264;
    bottom: -30px;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

#footer .contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

#footer .contact-content span {
    color: #353c47;
    margin: 0 10px;
}

#footer .contact-social {
    margin-top: 30px;
}

#footer .contact-social > ul {
    display: inline-flex;
}

#footer .contact-social ul li a {
    border: 1px solid #8b9199;
    color: #8b9199;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    border-radius: 100%;
    width: 40px;
}

#footer .contact-social ul li a:hover {
    border: 1px solid #E64D36;
    color: #E64D36;
}

#footer .contact-content img {
    max-width: 210px;
}

#footer {
    background: #1A1E25;
    color: #868c96;
}



#footer img {
    width: 44px;
}


.company{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.rubick{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #CCCCCC;
}