#Navbar-container{
    background-color: #282828;
    padding: 2.4rem;
    justify-content: center;
    display: flex;
    align-items: center;
}
#navbarNav{
    justify-content: center;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.btn-drop{
    font-size: 18px !important;
}

.dropdown-menu{
    display: inline-block;
    background-color: #212529;
    color: white;
}
.navbar-nav{
    justify-content: flex-end;

}
.dropdown-item{
    background-color: #212529;
    color: white;
    width: auto;
    margin: 0px;
}

nav{
    padding:2rem;
}