input{
    width: 25rem !important;
    padding: 15px !important;
    font-family: 'Rubik', sans-serif;
  }

.bs{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 20px ;
    border-radius: 5px ;
    padding: 20px;
}

*{
    font-family: 'Rubik', sans-serif;
}

#loginform, #registerform{
    width: 35%;
    margin: auto;
    padding:20px;
    text-align: center;
  }
  
  